.bodyStyle {
  background-color: black;
  height: auto;
}
.iconAll {
  list-style-type: none;
  display: inline;
  /*margin: 100px;*/
  cursor: pointer;
}
.options {
  height: 160px;
  width: 160px;
  margin: 50px;
}
/*index div all*/
.divAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh
}
.options:hover {
  box-shadow: 0px 0px 40px #fff;
}
.options:active {
  box-shadow: 0px 0px 40px #fff;
}
.options:visited {
  box-shadow: 0px 0px 40px #fff;
}
/*can we change id/class on click to make glow stay?*/
i {
  color: white;
}
.resultHolder {
  /*change next three lines later*/
  border: 2px ridge white;
  width: 500px;
  height: 300px;
  margin: 40px;
  position: relative;
  top: 200px;
  padding: 0px;
  overflow: hidden;
}
.result-image img{
  width: 100%;
  margin: 0;
  position: absolute;
}
#hamburger {
  display: block;
  position: fixed;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}
#hamburgerList {
  list-style-type: none;
  display: none;
  position: fixed;
  margin-top: 40px;
  margin-left: 10px;
}
.columns-container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 10px;
  overflow: hidden;
}
#column1 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
#column2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
#column3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
.card-half {
  width: auto;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-long {
  width: auto;
  height: 70vh;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-short {
  width: auto;
  height: 28vh;
  margin-top: 5px;
  margin-bottom: 5px;
}
.background {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
#map, #weather, #calendar{
  display: block;
  margin: auto;
  width: 250px;
}
#embassy, #flight, #language, #currency {
  display: inline-block;
  float: left;
  width: 48%;
  margin: 3px;
}
#card1 {
position: relative;
width: 100%;
padding: 0;
background-color: #544f4f;
}
#card3 {
  height: 460px;
  overflow: scroll;
}
#trip-advisor {
  width: 120px;
  float: left;
  margin-right: 10px;
  clear: right;
}
h1 {
  font-size: 2em;
}
#text {
  margin-top: 15px;
  font-size: 1.3em;
  margin-left: 5px;
}
#card6 {
  height: 350px;
}
#city-view {
  margin: 0;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
