.iconAll {
  list-style-type: none;
  display: inline;
  margin: 100px;
  cursor: pointer;
}

.divAll {
  margin-bottom: 200px;
}

#hamburger {

}

#hamburgerList {
  list-style-type: none;
  display: none;
}
