.bodyStyle {
  background-color: black;
  height: 100vh;
}

.iconAll {
  list-style-type: none;
  display: inline;
  box-sizing: border-box;
  cursor: pointer;
}

.options {
  height: 160px;
  width: 160px;
  margin: 50px;
}

.options1:hover {
  box-shadow: 0px 0px 50px white
}
.options1-selected {
  box-shadow: 0px 0px 50px white;
}

.options3:hover {
  box-shadow: 0px 0px 40px #14e319;
}
.options3-selected {
  box-shadow: 0px 0px 40px #14e319;
}

.options4:hover {
  box-shadow: 0px 0px 40px #FF00FF;
}
.options4-selected {
  box-shadow: 0px 0px 40px #FF00FF;
}

.divAll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh
}

i {
  color: white;
}

i:hover {
  color: #9ACD32;
  text-shadow: 0px 0px 40px #9ACD32;
}

#qTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

#tableSeason {
  transform: rotate(-180deg);

}

.tableInSeason {
  width: 400px;
}

.tableTdSeason {
  margin: 5px;
}

.tableInSeason:hover {
  filter: drop-shadow(0px 0px 10px #999);
}
.season-selected, .season-selected:hover {
  filter: drop-shadow(0px 0px 10px #FFF);
}

.next {
  display: inline-block;
  vertical-align: middle;
}

#resultsButton {
  margin-top: 150px;
  height: 45px;
  position: absolute;
  left: 525px;
}

.page-view {
  display: flex;
  flex-direction: column;
}

.resultHolder {
  /*change next three lines later*/
  border: 2px ridge white;
  width: 500px;
  height: 280px;
  margin: 40px;
  position: relative;
  top: 200px;
  padding: 0px;
  overflow: hidden;
  background-color: white;
}

.image {
  width: 100%;
  height: 100%;
}
#cityName1, #cityName2, #cityName3 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: 'Kalam', cursive;
  font-size: 1.7em;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

#column1 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
#column2 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
#column3 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
.card-half {
  width: auto;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-long {
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-short {
  width: auto;
  height: 28vh;
  margin-top: 5px;
  margin-bottom: 5px;
}
.background {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
#map, #weather, #calendar{
  display: block;
  margin: auto;
  width: 250px;
}
#embassy, #flight, #language, #currency {
  display: inline-block;
  float: left;
  width: 48%;
  margin: 3px;
}
#card1 {
position: relative;
width: 100%;
padding: 0;
background-color: #544f4f;
}
#card3 {
  height: 350px;
  overflow: scroll;
}
#trip-advisor {
  width: 120px;
  float: left;
  margin-right: 10px;
  clear: right;
}
#blurb-title {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}
#blurb-text {
  margin-top: 15px;
  font-size: 1.3em;
  margin-left: 5px;
  font-family: 'Alegreya', serif;
}
#card6 {
  height: 350px;
}
#city-view {
  margin: 0;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.resultsHighlightButton:hover {
  text-shadow: 0px 0px 40px #FF00FF;
}
.resultsHighlightButton:active {
  text-shadow: 0px 0px 40px #FF00FF;
}
.resultsHighlightButton:visited {
  text-shadow: 0px 0px 40px #FF00FF;
}

/*CODE FOR EXPLORE.HTML PAGE*/

.bodyStyleExplore {
  background-color: black;
}

#cityLists {
  /*by Atle Mo (design), Sébastien Grosjean (code)*/
  background-image:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-repeat: repeat-x;
background-size: 20px 20px;;
  width: 75%;
  margin-left: 15%;
}

#cityUl {
  padding-top: 100px;
}

.classStyle {
  list-style-type: none;
  display: block;
  color:red;
  margin-left: 100px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}
