body {
  background-color: black;
  height: 100vh;
}
/*-------------Short Bios--------------*/
section {
  left: 10%;
  top: 30%;
  position: relative;
}
div {
  position: relative;
  margin: 10px;
  justify-content: center;
  align-self: center;
  width: 80%;
}

p {
  color: white;
}
h1 {
  color: white;
  font-size: 3em;
  left: 10%;
  top: 5%;
  position: absolute;

}
header {
  clear: right;
}

h2 {
  color: white;
  font-size: 2em;
  left: 5%;
  position: relative;
}
#Anna {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
#Ashley {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
/*--------------------------------*/
